<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--数据库连接-->
        <property name="connection.url">jdbc:mysql://192.168.126.131:33306/test</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>

        <!--选项配置-->
        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>

        <!--映射配置文件的路径-->
        <mapping resource="com/entity/Book.hbm.xml"/>

        <!--配置包含有注解的实体类-->
        <mapping class="com.entity.Book"/>
    </session-factory>
</hibernate-configuration>